@page "/Contact"
<PageTitle>Contact</PageTitle>
<header>
    <h1>Contact us</h1>
    <div class="wave"></div>
</header>

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="Img/contact.jpg" alt="Contact picture of family together on the beach"/>
            </div>
            <div class="col-md">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <br />
                    <input type="text" class="form-control" placeholder="Email">
                    <br />
                    <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                    <br />
                    <button type="button" class="btn btn-primary">Submit <i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
@code {

}
