@page "/"

<PageTitle>Index</PageTitle>

<header>
    <div class="header-content">
        <h1>TANITI</h1>
        <p>Taniti is a small, tropical island in the Pacific. </p>

        <div class="button-group">
            <a class="btn btn-primary" href="/Recreation" role="button">RECREATION</a>
            <a class="btn btn-primary" href="/F&Q" role="button">F&Q PAGE</a>
        </div>
    </div>
    <div class="wave"></div>
</header>

<div id="events">
    <div class="events-intro">
        <h1>Events going on around the island!</h1>
    </div>
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md">
                            <img src="/Img/Event-2.jpg" class="d-block w-50" alt="...">
                        </div>
                        <div class="col-md">
                            <div class="carousel-text">
                                <h3>Volcano helicopter ride</h3>
                                <p>The beautiful island of Tiniti has a huge ammount of scenic sights to see. We offer a fully 
                                    guided helicopter ride to see our amazing volcanoe.
                                </p>
                                <h5>Whats included?</h5>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i> Hotel pickup and drop-off</li>
                                    <li><i class="fa-solid fa-check"></i> Lunch</li>
                                    <li><i class="fa-solid fa-check"></i> Bottled Water </li>
                                    <li><i class="fa-solid fa-check"></i> All Fees and Taxes</li>
                                </ul>
                                <a href="#">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md">
                            <img src="/Img/Event-3.jpg" class="d-block w-50" alt="...">
                        </div>
                        <div class="col-md">
                            <div class="carousel-text">
                                <h3>Volcano helicopter ride</h3>
                                <p>The beautiful island of Tiniti has a huge ammount of scenic sights to see. We offer a fully 
                                    guided helicopter ride to see our amazing volcanoe.
                                </p>
                                <h5>Whats included?</h5>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i> Hotel pickup and drop-off</li>
                                    <li><i class="fa-solid fa-check"></i> Lunch</li>
                                    <li><i class="fa-solid fa-check"></i> Bottled Water </li>
                                    <li><i class="fa-solid fa-check"></i> All Fees and Taxes</li>
                                </ul>
                                <a href="#">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md">
                            <img src="/Img/Event-1.jpg" class="d-block w-50" alt="...">
                        </div>
                        <div class="col-md">
                            <div class="carousel-text">
                                <h3>Island boat ride</h3>
                                <p>
                                    Do you enjoy being on the water? Well why not take a nice calm boat ride around 
                                    Taniti island and take in our marine life and dinner on the water and snorkeling in the dolphin filled water.
                                </p>
                                <h5>Whats included?</h5>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i> Snacks</li>
                                    <li><i class="fa-solid fa-check"></i> Dinner</li>
                                    <li><i class="fa-solid fa-check"></i> Use of snorkeling equipment </li>
                                    <li><i class="fa-solid fa-check"></i> All Fees and Taxes</li>
                                </ul>
                                <a href="#">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div id="planning">
    <div class="wave2"></div>
    <div class="container">
        <div class="planning-text">
            <h1>Start planning!</h1>
            <p>Start planning for your get away vacation here at <span>Taniti</span> and check out some of the things you should look into before planning!</p>
        </div>
        <div class="row">

            <div class="col-md">
                <div class="card mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="Img/hotels.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lodging</h5>
                        <p class="card-text">We have loading for all different types of trips from 5 star resorts, condos, and private homes. Check out 
                            some of the lodging we provide!
                        </p>
                        <a href="#" class="btn btn-primary">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="Img/transportation.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Transportation</h5>
                        <p class="card-text">Rather you're looking for a family car or a sports car to enjoy your vacation we have it and public transportation. Check out our rental vehicles!</p>
                        <a href="#" class="btn btn-primary">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="Img/dining.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dining</h5>
                        <p class="card-text">Taniti is known for its amazing seafood, American-style dishes, and our Pan-Asian cuisine. Check out our local restaurants!</p>
                        <a href="#" class="btn btn-primary">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="facts">
    <div class="container">
        <h1>Important things to know!</h1>
        <div class="row">
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        Can I use my own electrical appliances? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse1">
                    <div class="card card-body">
                        Taniti power outlets are 120 volts (same as united states), but if you're traveling from anywhere else please bring a power adapter.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Should I bring cash? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse2">
                    <div class="card card-body">
                        The US dollar is the official currency of Tanitit, but many businesses will also accept euros and yen. Serveral banks facilitate currency exchange, 
                        and many businesses accept major credit cards.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        What is the native language? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse3">
                    <div class="card card-body">
                        Many of the younger Tanitians speak fluent English, but very little English is spoken in more rural areas, especially by the older residents.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Will I be safe during my trip? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse4">
                    <div class="card card-body">
                        Taniti has very low crime rates, but visitors are asked to use common since as petty crimes such as pick pocketing is starting to increase with visitors.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
