@page "/Lodging"
<PageTitle>Lodging</PageTitle>
<header>
    <h1>Lodging</h1>
    <div class="wave"></div>
</header>

<div id="info-box">
    <div class="container">
        <h1>Lodging</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec tortor ac dolor ornare porttitor. Nam suscipit sapien et auctor dictum. Proin eu facilisis arcu, quis blandit risus. Nam quis magna ut elit laoreet sagittis at quis nisi. Sed pretium tincidunt elit, congue sodales nunc placerat vitae. Mauris vel tempor velit, a fringilla leo. Vivamus massa erat, pharetra ac ipsum ut, interdum imperdiet metus. Nullam elementum scelerisque erat eget fermentum. Donec non nisl in quam laoreet ultrices in eget justo.</p>

    </div>
</div>

<div id="page">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="side-nav">
                    <h1>Options</h1>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 1</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 2</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 3</label>
                    </div>
                    <br/>
                    <br />
                    <h1>Options</h1>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 1</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 2</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 3</label>
                    </div>
                    <br />
                    <br />
                    <h1>Options</h1>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 1</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 2</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Option 3</label>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
<div id="hotels">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="Img/hotels.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hotel Del Rose</h5>
                         <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                         </div>
                        <p class="card-text">If you love being on the water and feeling like you're
                            on a resort this is the hotel for you.
                        </p>
                        <a href="#" class="btn btn-primary">Reserve</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="Img/beachhouse1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Beach House #01</h5>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <p class="card-text">
                            If you love being on the water and feeling like you're
                            on a resort this is the hotel for you.
                        </p>
                        <a href="#" class="btn btn-primary">Reserve</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="Img/resort.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Royal Blue Water</h5>
                         <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                         </div>
                        <p class="card-text">If you love being on the water and feeling like you're
                            on a resort this is the hotel for you.
                        </p>
                        <a href="#" class="btn btn-primary">Reserve</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="Img/hotels.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Water-side Hotel</h5>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <p class="card-text">
                            If you love being on the water and feeling like you're
                            on a resort this is the hotel for you.
                        </p>
                        <a href="#" class="btn btn-primary">Reserve</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="Img/beachhouse2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Beach house #20</h5>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <p class="card-text">
                            If you love being on the water and feeling like you're
                            on a resort this is the hotel for you.
                        </p>
                        <a href="#" class="btn btn-primary">Reserve</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="Img/hotels.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Private condo</h5>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <p class="card-text">
                            If you love being on the water and feeling like you're
                            on a resort this is the hotel for you.
                        </p>
                        <a href="#" class="btn btn-primary">Reserve</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>"
</div>
@code {

}
