@page "/F&Q"
<PageTitle>F&Q</PageTitle>

<header>
    <h1>Frequently asked question</h1>
    <div class="wave"></div>
</header>

<div id="facts">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        Can I use my own electrical appliances? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse1">
                    <div class="card card-body">
                        Taniti power outlets are 120 volts (same as united states), but if you're traveling from anywhere else please bring a power adapter.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Should I bring cash? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse2">
                    <div class="card card-body">
                        The US dollar is the official currency of Tanitit, but many businesses will also accept euros and yen. Serveral banks facilitate currency exchange,
                        and many businesses accept major credit cards.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        What is the native language? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse3">
                    <div class="card card-body">
                        Many of the younger Tanitians speak fluent English, but very little English is spoken in more rural areas, especially by the older residents.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Will I be safe during my trip? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse4">
                    <div class="card card-body">
                        Taniti has very low crime rates, but visitors are asked to use common since as petty crimes such as pick pocketing is starting to increase with visitors.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Can I enjoy alchol on the beach? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse3">
                    <div class="card card-body">
                        Alcohol is allowed, but is not to be served between the hours of midnight and 9:00 a.m.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        What is the legal age to consome alcohol? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse4">
                    <div class="card card-body">
                        The legal drinking age on Taniti is 18 and the drinking age is not strictly enforced.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        What should I do incase of an emergency? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse3">
                    <div class="card card-body">
                        In case of an emergency call 911 from the closest phone. Taniti has majot hospitals and several clinics. The hospitals are staffed with multilingual empployees.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        How will holidays affect my vacation? <i class="fa-solid fa-plus"></i>
                    </button>
                </p>
                <div class="collapse" id="collapse4">
                    <div class="card card-body">
                        Tanitit enjoys a large number of national holidays, and many tourist attractions and restaurants will be closed on holidays. 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
