footer {
    background-color: #3498db;
    border-top: solid 5px #2980b9;
}

footer .footer-img{
    text-align: center;
}

footer p {
    margin-top: 50px;
    color: white;
    font-family: noto sans;
    letter-spacing: 0.5px;
}

footer ul {
    margin-top: 50px;
}

footer ul li {
    list-style: none;
    margin-top: 5px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-family: noto sans;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

footer h4 {
    color: white;
    font-family: noto sans;
    letter-spacing: 1px;
    margin-top: 50px;
}

footer h6 {
    color: white;
    font-family: noto sans;
    margin-top: 20px;
    letter-spacing: 1px;
}
