<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <p>Dehors il eu au ma soeurs crises filles colles. Pour coin nees que fait eut venu une. 
                    Ces sol suspendue oui age dissipait echangent parlaient. Sanctifier maintenant remplirent 
                    subitement dit diplomates feu.</p>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="footer-img">
                    <img src="Img/Logo.png" />
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">F&Q</a></li>
                    <li><a href="#">TRANSPORTATION</a></li>
                    <li><a href="#">LODGING</a></li>
                    <li><a href="#">DINING</a></li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto contact">
                <h4>Contact Us</h4>
                <h6><i class="fa-solid fa-phone"></i> +32 (123) 123 1234</h6>
                <h6><i class="fa-solid fa-envelope"></i> Travel@Tanitii.com</h6>

            </div>
        </div>
    </div>

</footer>

@code {

}
