@inherits LayoutComponentBase

<PageTitle>Taniti | HOME</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
    <Footer />
</div>

